Repository saeedmrz/boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js,jsx}": ["npm run lint", "npm run format"],
  "*.{json,md}": "prettier --write"
}

testing husky
  .eslintrc.cjs
  .lintstagedrc.json
Due: prettier --write

testing hustky again
  package.json
  src/componets/sample/Sample.jsx
Due: npm run lint, npm run format, prettier --write

hm
  src/componets/sample/Sample.jsx
Due: npm run lint, npm run format

again
  src/componets/sample/Sample.jsx
Due: npm run lint, npm run format

testing
  .husky/_/pre-commit.sh
  src/componets/sample/Sample.jsx
Due: npm run lint, npm run format

testing
  src/componets/sample/Sample.jsx
Due: npm run lint, npm run format

test
  .husky/_/pre-commit
  src/componets/sample/Sample.jsx
Due: npm run lint, npm run format

test
  src/componets/sample/Sample.jsx
Due: npm run lint, npm run format

testing
  .eslintrc.cjs
  .husky/pre-commit
  package.json
  src/componets/sample/Sample.jsx
Due: npm run lint, npm run format, prettier --write

Husky settings update
  .eslintrc.cjs
  .husky/pre-commit
  src/componets/sample/Sample.jsx
Due: npm run lint, npm run format

Modify files
  app.webmanifest
  documentation/pwa-react-js.md
  documentation/react-js.md
  index.html
  src/assets/img/icon-maskable.png
  src/assets/img/logo-1024.png
  src/styles/sass/components/_button.scss
Due: prettier --write
